body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#282D35;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #21222A;
  height:91px;
}

.left-section{
  display:flex;
  flex-direction:row;
  gap:10px;
}

#logo{
  margin-top:15px;
}

#logo-text{
  font-family: 'Inter';
  font-weight: 700;
  color:#61DAFB;
}

#right-text{
  color:#DEEBF8;
  font-family: 'Inter';
  font-weight: 600;
}

.content{
  font-family: 'Inter', sans-serif;
  margin:20px 0px 0px 20px;
  background-image:url(./images/reactjs-icon\ 2.png);
  background-repeat:no-repeat;
  background-position:right center;
  
}

.content>ul{
  color:#FFFFFF;
  font-family: 'Inter', sans-serif;
  font-weight:400;
}

.content>ul>li{
  padding-block:10px;
  line-height:19px;
  
}

.content >ul> li::marker{
  font-size:1.4rem;
  color:#61DAFB;

}

.heading{
  color:#FFFFFF;
}
